*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
  color: #232323;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 10rem;
  width: 100%;

  background-color: #2b2b2b;
  color: #f2f2f2;
}

.admin {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.links-list {
  display: flex;
  padding: 0;
}

.links-list li {
  margin-right: 2rem;
  list-style-type: none;
  cursor: pointer;
}

.links-list li:hover {
  transform: scale(1.1);
  transition: linear 0.3s;
}

main {
  display: flex;
  flex-direction: column;

  width: 95%;
}

main h1 {
  margin-bottom: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;

  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 30em;

  background-color: #fff;
  -webkit-box-shadow: 10px 10px 53px -23px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 53px -23px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 53px -23px rgba(0, 0, 0, 0.7);
}

.deadmau5 {
  background: url('./public/images/deadmau5.jpg');
}

.future {
  background: url('./public/images/future.jpg');
}

.adventureclub {
  background: url('./public/images/adventureclub.jpg');
}

.machinegunkelly {
  background: url('./public/images/machinegunkelly.jpg');
}

.tiesto {
  background: url('./public/images/tiesto.jpg');
}

.savoy {
  background: url('./public/images/savoy.jpg');
}

.fluxpavilion {
  background: url('./public/images/fluxpavilion.jpg');
}

.guccimane {
  background: url('./public/images/guccimane.jpg');
}

.card-background {
  width: 100%;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding: 15px;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  color: #f2f2f2;
}

.card-header i {
  font-size: 3rem;
}

.views-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: #fff;
}

.views-box h5 {
  margin: 0;
  font-weight: 300;
}

.views-num {
  margin: 2px;
  font-size: 2.2em;
  font-weight: 400;
}

.card-content {
  flex: 2;

  margin: 0;
  padding: 1em;

  background-color: #fff;
  font-weight: 300;
  font-size: 1.1rem;
}

.card-content h3 {
  margin-bottom: 0;
}

.date {
  margin: 0.2em 0 0 0;
  color: #919191;
  font-size: 0.8em;
}

.link-box {
  display: flex;
  align-items: center;
  margin: 1.6em 0 0 0;
  padding: 0.5em;
  height: 3em;
  background-color: #e5e5e5;
}

.link-box a {
  text-decoration: none;
  color: #232323;
  font-size: 0.8em;
}

.card-content h5 {
  margin: 2.5em 0 0 0;
  font-weight: 400;
  font-size: 0.7em;
}

.card-content h4 {
  margin: 0.2em 0 0 0;
  font-weight: 400;
  font-size: 1em;
}

.number {
  margin: 0.1em 0 0 0;
  font-size: 2.2em;
  font-weight: 400;
  color: #2bd8ff;
}

@media screen and (max-width: 1000px) {
  .cards {
    /* justify-content: flex-start; */
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 675px) {
  .admin {
    justify-content: center;
  }
  .links {
    flex-direction: column;
  }
  .links-list {
    order: 2;
  }
  main {
    align-items: center;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    width: 70%;
  }
}

@media screen and (max-width: 475px) {
  .cards {
    width: 95%;
  }
}
